* {
    margin: 0;
    padding: 0;
    /* line-height: 1.5; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.calculator {
    background-color: lightcyan;
    border: 2px solid black;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
}
.btn {
    font-size: 40px;
    height: 70px;
    width: 70px;
    margin: 16px;
}
.btn:hover {
    background-color: lightsalmon;
}

.numbers {
    border: 2px solid black;
    border-radius: 50%;
}

.operator,
.decimal,
.equal {
    border:2px solid salmon;
    border-radius: 50%;
}


.clear {
    border:2px solid gainsboro;
    border-radius: 50%;
}

.first_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen {
    width: 250px;
    border: 2px solid black;
    height: 90px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous {
    font-size: 21px;
}

.current {
    font-size: 32px;
}